@import "tailwindcss";

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}
button {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: white;
    cursor: pointer;
}

button:hover {
    border-color: #646cff;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
    border-color: black;
}
